@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body{
    color: #fff ;
    background: url('/images/ship.jpg') no-repeat center center fixed; 
    
    background-size: cover;

    @import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

    body {
      font-family: 'Roboto', sans-serif; /* Use the imported font */
    }
   
  }
  
}
